@using PersonelAreasUygulama.Models.ViewModels;

@model PersonelVM
@foreach (var item in Model.pList)
{  
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Ad: @item.Ad</li>
                <li class="list-group-item">Soyad: @item.Soyad</li>
                <li class="list-group-item">Maas: @item.Maas</li>
            </ul>
            <div class="card-footer">
                Personel Detayları Yukaridadir
            </div>
        <a asp-route-id="@item.Ad" asp-area="Yonetim" asp-controller="Home" asp-action="Delete" class="btn btn-danger">Sil</a>
        </div>


}

<a asp-area="Yonetim" asp-action="Add" asp-controller="Home" class="btn btn-warning">Yeni Personel Ekle</a>

